<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;

        }

        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid black;
        }

        th {
            background-color: black;
            color: white;
        }
    </style>

</head>
<body>
<h2>Darczyńców (<span th:text="${donations.size()}"></span>)</h2>
<table th:with="b=${bags.iterator()}" >
    <tr>
        <th>Adres darczyńcy</th>
        <th>Data odbioru</th>
        <th>Godzina odbioru</th>
        <th>Dar (worków)</th>
        <th>Organizacja</th>
        <th>Całkowita liczba worków</th>
        <th>Uwagi</th>
    </tr>
    <tr th:each="don : ${donations}">
<!--        address-->
        <td th:style = "${don.status.id >= 2 } ? 'background:'+${don.courier.colour} : 'background: white'"  th:utext="${'<strong>' + don.zipCode+ ' ' +don.city + '</strong></br>' + don.address + '</br>' + don.tel}"></td>
<!--        date-->
        <td th:style = "${don.status.id >= 2 } ? 'background:'+${don.courier.colour} : 'background: white'" th:text="${don.pickUpDate}"></td>
<!--        time-->
        <td th:style = "${don.status.id >= 2 } ? 'background:'+${don.courier.colour} : 'background: white'" th:if="${don.pickUpTime} == null" >nie podano</td>

        <td th:style = "${don.status.id >= 2 } ? 'background:'+${don.courier.colour} : 'background: white'" th:if="${don.pickUpTime} != null" th:text="${don.pickUpTime}"></td>
<!--        donations-->
        <td th:style = "${don.status.id >= 3 } ? 'background:'+${don.courier.colour} : 'background: white'" >
            <ul >
                <li th:each="dd: ${don.donationDetails}" >
                    <span th:text="${dd.good.name + ' (' + dd.quantity + ')'}" ></span>
                </li>
            </ul>
        </td>
<!--        organization-->
        <td th:style = "${don.status.id >= 4 } ? 'background:'+${don.courier.colour} : 'background: white'"  th:text="${don.organization.name}"></td>
<!--        bags-->
        <td th:style = "${don.status.id >= 5 } ? 'background:'+${don.courier.colour} : 'background: white'" th:text="${b.next()}" ></td>
<!--        comments-->
        <td th:style = "${don.status.id >= 5 } ? 'background:'+${don.courier.colour} : 'background: white'" th:text="${don.comments}"></td>
<!--      change status-->
        <td>
            <form th:action="@{changeStatus/__${don.id}__}" method="post">
                <select th:field="*{donat.status}" >
                    <option selected value="0" th:text="${don.status.name}" th:style="'color:red'" >wybierz z listy</option>
                    <option th:each="status : ${stats}" th:value="${status.id}" th:text="${status.name}"></option>
                </select>
                <br>
                <input type="submit" value="Zmień status">
            </form>
        </td>
<!--         assign courier-->
        <td>
            <form th:action="@{courierAssigning/__${don.id}__}" method="post">
                <select th:field="*{donat.courier}" >
                    <option selected value="0" th:text="${don.courier.courierName}" th:style="'color:red'" >wybierz z listy</option>
                    <option th:each="courier : ${couriers}" th:value="${courier.id}" th:text="${courier.courierName}"></option>
                </select>
                <br>
                <input type="submit" value="Przypisz kuriera">
            </form>
        </td>
    </tr>
</table>
<br>
<button onclick="location.href='/index'" type="button" class="btn btn-default">Powrót</button>
</body>
</html>