<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>

    <form th:action="@{/summary}" method="post">

        <div>
            <label>Kod pocztowy</label>
            <div>
                <input type="text" required pattern="[0-9]{2}-[0-9]{3}" title="Prawidłowy format np. 01-124" th:field="*{donation.zipCode}" />
            </div>
        </div>

        <div>
            <label>Miasto</label>
            <div>
                <input type="text" required th:field="*{donation.city}" />
            </div>
        </div>

        <div>
            <label>Adres</label>
            <div>
                <input type="text" required th:field="*{donation.address}" />
            </div>
        </div>

        <div>
            <label>Tel</label>
            <div>
                <input type="text" required th:field="*{donation.tel}" />
            </div>
        </div>

        <div>
            <label>Data</label>
            <div>
                <input type="date" required th:field="*{donation.pickUpDate}" />
            </div>
        </div>

        <div>
            <label>Godzina</label>
            <div>
                <input type="time" min="07:00" max="22:00" th:field="*{donation.pickUpTime}" />
            </div>
            </div>
        </div>

        <div>
            <label>Uwagi dla kuriera</label>
            <div>
                <textarea th:field="*{donation.comments}" />
            </div>
        </div>


        <div>
            <button type="submit">Dalej</button>
            <button type="submit" name="cancel">Anuluj</button>
        </div>
    </form>
</div>
</body>
</html>